name: Test

on:
  push:

permissions:
  contents: read

jobs:
  test:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        php-versions: ['8.2', '8.3', '8.4', '8.5']
        operating-system: ['ubuntu-latest', 'windows-latest', 'macos-latest']
    steps:
      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: ${{ matrix.php-versions }}
          tools: phan:5.5.2
          coverage: none

      - uses: actions/checkout@v5

      - name: Install dependencies
        run: composer install

      - name: Run PHPUnit
        run: ./vendor/bin/phpunit tests

      - name: Run Phan
        run: phan -d ./ -k .phan/config.php --output-mode=github
